.site-nav {
  position: fixed;
  z-index: 9999;
  display: flex;
  width: 100%;
  padding: 20px 15px;
  align-items: center;
  background-color: #bfc1bc;
  top: 0;
  left: 0;
  justify-content: space-between;
  transition: all 0.4s ease-in-out;

  @include mq(xl) {
    padding: 0 15px;
  }
  @include mq(xxl) {
    padding: 0 40px;
  }

  .logo {
    img {
      width: 140px;
      margin-right: 10px;

      @include mq(md) {
        width: 180px;
      }
      @include mq(xl) {
        width: 150px;
      }
      @include mq(xxl) {
        width: 200px;
      }
    }
  }

  .menu {
    display: none;
    margin: 0 10px;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    flex: 1;
    padding: 0;
    list-style: none;

    @include mq(xl) {
      display: flex;
    }

    @include mq(xxl) {
      margin: 0 20px;
    }

    > li {
      position: relative;
      a {
        margin-right: 0px;
        padding-right: 5px;
        padding-left: 5px;
        flex: 0 auto;
        border-bottom: 2px solid #bfc1bc;
        background-color: transparent;
        transition: border-color 250ms ease, color 250ms ease;
        color: #5e5e5e;
        font-size: 15px;
        letter-spacing: 0.15px;
        white-space: nowrap;
        height: 112px;
        display: flex;
        align-items: center;

        @include mq(xxl) {
          letter-spacing: 0.25px;
          font-size: 16px;
          padding-right: 10px;
          padding-left: 10px;
        }
      }

      &:hover {
        > .sub-menu {
          position: absolute;
          top: 100%;
          left: 50%;
          transform: translateX(-50%);
          display: block;
          background: #bfc1bc;
          padding: 0;
          margin: 0;
          list-style: none;
          width: 250px;

          li {
            position: relative;

            a {
              padding: 10px 25px;
              display: block;
              height: auto;
              white-space: normal;
              border-bottom: 0;
              transition: all 0.3s ease-in-out;
              &:hover {
                background: $white;
                color: $black;
              }
            }

            .sub-menu {
              display: none;
            }

            &:hover {
              > .sub-menu {
                width: 250px;
                padding: 0;
                list-style: none;
                display: block;
                background: #bfc1bc;
                position: absolute;
                top: 0;
                left: 100%;
                transform: unset;

                li {
                  a {
                    padding: 10px 25px;
                    white-space: normal;
                    border-bottom: 0;
                    transition: all 0.3s ease-in-out;
                    &:hover {
                      background: $white;
                      color: $black;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  section.search {
    margin-left: auto;
    display: none;
    @include mq(md) {
      display: block;
    }
    @include mq(xl) {
      margin-left: uset;
    }
  }

  button {
    display: flex;
    height: 23px;
    width: 35px;
    background: none;
    border: none;
    margin-left: 8px;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    padding: 0;

    &:focus {
      outline: none;
    }

    @include mq(md) {
      margin-left: 15px;
    }

    span {
      height: 2px;
      background: $black;
      display: block;
      margin: 2px 0;
      width: 33px;
    }

    @include mq(xl) {
      display: none;
    }

    p {
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      font-size: 11px;
    }
  }

  .sub-menu {
    display: none;
  }

  .btn--white {
    padding: 0 7px;
    background: #cca29d;
    border-radius: 8px;
    color: $white;
    border: 1px solid #cca29d;
    opacity: 1;
    transition: all 0.4s ease-in-out;

    &:hover {
      background: $black;
    }

    @include mq(md) {
      padding: 0 10px;
      margin-left: unset;
    }

    @include mq(xxl) {
      padding: 0 20px;
    }
  }

  // offset if WP admin bar is present
  .admin-bar & {
    top: 46px;
    @media (min-width: 783px) {
      top: 32px;
    }
  }
}

.side--fixed {
  position: fixed;
  right: 0;
  top: 0;
  width: 100px;
  z-index: 99;
  display: none;
  @include mq(md) {
    display: flex;
    justify-content: space-between;
    height: 100%;
    flex-direction: column;
  }
  @include mq(lg) {
    width: 100px;
  }
  @include mq(xl) {
    width: 120px;
  }

  .social-icons {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;

    li {
      margin: 20px 0;

      a {
        font-size: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

.side--fixed {
  padding-top: 180px;
  padding-bottom: 25vh;
  .btn-side {
    margin: 5vh auto;
    display: block;
    text-align: center;
  }
  .switcher,
  #gtranslate_selector {
    cursor: pointer;
    overflow: hidden;
    width: 115px;
    max-width: 100%;
    line-height: 17px;
    border: 1px solid #929292;
    margin: 0 auto 35px;
    font-size: 13px;
    @extend .btn--pink;
    white-space: normal;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 41px !important;
    border: none;
    border-radius: 8px;
    padding: 10px !important;

    &:focus {
      outline: none !important;
    }

    .selected a {
      border: 1px solid #ccc;
      color: transparent;
      padding: 3px 4px 2px;
      width: 28px;
      height: 26px;

      img {
        margin-bottom: 15px;
      }

      &:after {
        display: none;
      }
    }

    .option {
      position: absolute;
      width: 35px;
      a {
        color: transparent;
        padding: 3px 4px 2px;
        width: 28px;
        height: 26px;
        text-align: center;

        img {
          margin-bottom: 15px;
        }
      }
    }
  }
}

.banner {
  background: #cca29d;
  padding: 10px;
  font-size: 14px;
  line-height: 1.2em;
  text-align: center;
  color: #fff;
  position: fixed;
  top: 88px;
  width: 100%;
  z-index: 999;

  @include mq(md) {
    font-size: 16px;
    top: 98px;
  }
  @include mq(xl) {
    top: 112px;
  }

  .btn--white {
    display: inline-flex;
    width: auto;
    margin-left: 10px;
    height: 32px;
    padding: 0 8px;
  }

  a {
    color: $black;

    &:hover {
      color: $white;
    }
  }
}
