html {
  background: $white;
  font-size: 16px;

  @include mq(xl) {
    font-size: 20px;
  }

  &[lang="el"] {
    font-size: 14px;
    .site-nav .menu > li a {
      font-size: 13px;
    }
  }
}

body {
  font-family: $open-sans;
  color: #5e5e5e;
  font-size: 1rem;
  line-height: 1.5em;
  font-weight: 400;

  &.search-active {
    .search-form {
      top: 0;
    }

    .site-nav {
      top: 50px;
    }
  }
}

*:last-child {
  margin-bottom: 0;
}

a {
  color: #cca29d;
  &:hover {
    color: $black;
    text-decoration: none;
  }
}

.site-wrap {
  padding-top: 140px;

  @include mq(xxl) {
    padding-top: 200px;
  }
}

// Remove subpixel-antialiased default but keep for retina resolutions.
// http://www.intridea.com/blog/2014/5/8/better-font-smoothing-in-chrome-on-mac-os-x
*,
*:after,
*:before {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  @media only screen and (-webkit-min-device-pixel-ratio: 1.25),
    only screen and (min-device-pixel-ratio: 1.25),
    only screen and (min-resolution: 200dpi),
    only screen and (min-resolution: 1.25dppx) {
    -webkit-font-smoothing: subpixel-antialiased;
  }
}

// Remove text-shadow in selection highlight:
// https://twitter.com/miketaylr/status/12228805301
::-moz-selection {
  background: $selection-highlight-background;
  color: $selection-highlight-color;
  text-shadow: none;
}

::selection {
  background: $selection-highlight-background;
  color: $selection-highlight-color;
  text-shadow: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

.small-zero {
  @include mq($until: lg) {
    padding-left: 15px !important;
  }
}

.hide-small {
  @include mq($until: lg) {
    display: none;
  }
}

.search--area {
  position: relative;
  margin-left: auto;

  @include mq($until: md) {
    display: none;
  }

  i {
    height: 48px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    background: transparent;
    color: $white;
    border-radius: 8px;
  }
}

.search-form {
  display: flex;
  height: 50px;
  position: fixed;
  align-items: center;
  top: -50px;
  left: 0;
  width: 100%;
  background: $gray;
  z-index: 9999;
  transition: all 0.4s ease-in-out;

  .search {
    width: 80%;
    margin: 0 auto;
  }

  #searchform {
    ::placeholder {
      color: #eee;
    }
    input {
      display: flex;
      align-items: center;
      height: 35px;
      padding: 0 12px;
      font-size: 14px;
      line-height: 1.42857143;
      color: $white;
      vertical-align: middle;
      background-color: $white;
      border: none;
      width: 100%;
      margin-bottom: 0px;
      padding-left: 20px;
      border-radius: 0;
      background: rgba($black, 0.1);

      &:focus {
        outline: none;
        border: 1px solid $black;
      }
    }

    input#searchsubmit {
      display: none;
    }
  }
}

.mobile-switcher {
  height: 38px;
  position: relative;
  text-align: center;

  @include mq(md) {
    display: none;
  }

  select {
    @extend .btn--pink;
    white-space: normal;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 27px !important;
    border: none;
    border-radius: 8px;
    margin: 0 auto;

    &:focus {
      outline: none;
    }
  }

  .switcher {
    margin: 0 !important;
    cursor: pointer;
    overflow: hidden;
    width: 100%;
    line-height: 17px;
    border: 1px solid #929292;
    margin: 35px auto;

    .selected a {
      border: 1px solid #ccc;
      color: transparent;
      padding: 3px 4px 2px;
      width: 28px;
      height: 26px;

      img {
        margin-bottom: 15px;
      }

      &:after {
        display: none;
      }
    }

    .option {
      position: absolute;
      width: 35px;
      a {
        color: transparent;
        padding: 3px 4px 2px;
        width: 28px;
        height: 26px;

        img {
          margin-bottom: 15px;
        }
      }
    }
  }
}

.search-results {
  .page__lower-level {
    article {
      a {
        img {
          display: none !important;
        }
      }

      .box__date {
        display: none !important;
      }
    }
  }
}

.featured--large {
  margin-bottom: 30px;
}
